/* Style for Webkit Browsers */
::-webkit-scrollbar {
    width: 4px;
}

::-webkit-scrollbar-track {
    /* background-color: #f5f5f5; */
}

::-webkit-scrollbar-thumb {
    background-color: #969696;
    border-radius: 2px;
}
body{
    /* overflow-y: hidden; */
}
#fav a{
    display: flex;
margin-top:4px;
margin-left:20px;
    color: rgb(31, 158, 80);
    transition: 0.2s ease-in-out;
}

#fav a:hover{
    transform: scale(1.1);
}
.imdb{
    color: rgb(228, 228, 0);
    font-size: large;
    font-weight: 600;
}
#section2{
    min-height: 75vh;
    background-color: #fafafa;
    border-radius: 20px;
    padding: 20px;
}

#list{
    max-height: 75vh;
}

#main{
height: 100%;
background-color: #1b1b1b;

}
.list-block{
    display:flex;
    flex-direction: row;
    transition: opacity 0.2s ease-in-out;
}
.hidden{
    opacity:0;
}
.movie-title{
  width:80%  ;
  text-decoration: none;
  color:inherit;

}

.movie-title:hover{
    color:rgb(31, 158, 80);
}
.toast-icon{
width:20px;
height:20px;

}
.year-title{
    width:20%;
    margin-left: 100px;
}
.iconDiv{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width:100%;
}
 .bi-trash3-fill{
    display: flex;
    justify-content: center;
    align-items: center;
border-radius: 10px;
margin-right:20px;
    color: rgb(216, 78, 78);
    width:50px;
    height:50px;
    /* transition:0.1s ease-in-out; */
}

.bi-star-fill {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin-right: 20px;
    color: rgba(0, 0, 0, 0.19);
    width: 50px;
    height: 50px;
    /* transition:0.1s ease-in-out; */
}

.bi-star-fill:hover, .bi-trash3-fill{
    cursor: pointer;
    
}

.bi-star-fill:active ,.bi-trash3-fill:active{
    transform:scale(0.92);
}

#carouselExampleAutoplaying, #carouselExampleAutoplaying1 {
    max-height: 80vh;
}

button:active{
transform: scale(0.95);
transition: 0.1s ease-in-out;
}
button{
    border:none;
    outline:none;
}
#list-item{
    list-style-type: none;
}

#Poster{
    /* width:100px; */

}

/* favoite list styles */

.fav-container{
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    background-color: #fafafa;
    padding:30px;
    margin:30px;
    width:50vw;
    max-height:75vh;
    overflow: scroll;
    
}
.fav-list-container{
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction: column;
    width:100%;

}

.fav-list-container h1{
    margin-top:20px;
    color:rgb(31, 158, 80);
}
hello